@import "bootstrap";
@import "font-awesome";

h1, h2, h3, h4, h5, h6 {
  margin:0;
  padding:0;
}

body {
  .modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #353535;
    background-clip: padding-box;
    border: 1px solid rgb(211, 219, 228);
    border-radius: 0.3rem;
    outline: 0;
  }
  .btn-primary {
    color: #494949;
    background-color: #f5b659;
    border-color: #ac8d5f;
    &:hover {
      color: #000000;
      background-color: #f7d8a9;
      border-color: #000000;
    }
  }
  .btn-secondary {
    color: #3e3434;
    background-color: #d3dbe4;
    border-color: #60686f;
    &:hover {
      color: #fff;
      background-color: #6c757d;
      border-color: #6c757d;
    }
  }
  background: image_url('dust_scratches.png');
  font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
  color: #f6f6f6;
}

.navbar {
  background: image_url('tweed.png');
  box-shadow: 0 5px 5px #576263;
  margin-bottom: 20px;
}

.navbar-dark .navbar-brand {
  color: #ffc88d;
  font-family: 'justoldfashionregular', monospace;
  font-size: 26px;
}

.booyah-box {
  .golden, .golden a {
    color: #ffb75b;
  }
  .index-img {
    max-width: 100%;
    max-height: 100%;
    border: 2px solid #f7c88c;
  }
  .carousel {
    border: 2px solid #f7c88c;
  }
  small {
    display: table-caption;
    font-size: 75%;
    font-weight: 400;
  }
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: image_url('tweed.png');
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 10px;
}

.pagy-box {
  margin-bottom: 15px;
}

.pagy-box .btn {
  .text-primary { color: #525252 !important; }
  color: #525252;
  background-color: #f3c58a;
  border-color: #7d705e;
}

.btn-margin-left {
  margin-left: 15px;
}

.invalid-feedback {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
}

#map {
  height: 300px;
}

.margin-top-20px {
  margin-top: 20px;
}

.margin-top-10px {
  margin-top: 10px;
}

blockquote {
  padding: 1em;
  border: 2px solid #f7c88c;
  border-radius: 25px;
  background-color: #494949;
}
blockquote:before {
  display: none;
}
blockquote p {
  color: #f5b659;
  text-align: center;
  font-size: 12pt;
  line-height: 1.4;
  font-family: 'PT Serif', Cambria, 'Hoefler Text', Utopia, 'Liberation Serif', 'Nimbus Roman No9 L Regular', Times, 'Times New Roman', serif;
}
blockquote footer {
  margin-top: .5em;
  padding: 0;
  color: #f6f6f6;
  font-size: 12pt;
  text-align: right;
  font-style: italic;
}
blockquote footer:before {
  content: '— ';
}